<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__col">
        <div class="footer__logo-wrap">
          <a href="/" class="logo">
            <img src="assets/images/logo.svg" alt="" />
          </a>
          <div class="logo__description">
            <span>Аналитика и оцифровка продаж</span>
            <span>Wildberries</span>
            <span>и</span>
            <span>Ozon</span>
          </div>
        </div>
        <div class="footer__social">
          <a href="#">
            <img src="assets/images/footer/vk.svg" alt="" />
          </a>
          <a href="#">
            <img src="assets/images/footer/telegramm.svg" alt="" />
          </a>
          <a href="#">
            <img src="assets/images/footer/youtube.svg" alt="" />
          </a>
        </div>
        <div class="footer__decription">
          <span>© 2022–2023 Mpassistant</span>
          <span>Информация, размещённая на сайте, не является публичной офертой</span>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__nav-wrap">
          <nav class="footer-nav">
            <ul class="footer-nav__list">
              <li><span>Сервис</span></li>
              <li><a href="#">Для кого</a></li>
              <li><a href="#">Возможности</a></li>
              <li><a href="#">Тарифы</a></li>
            </ul>
            <ul class="footer-nav__list">
              <li><span>Клиентам</span></li>
              <li><a href="#">Вход</a></li>
              <li><a href="#">Регистрация</a></li>
              <li><a href="#">Восстановления пароля</a></li>
            </ul>
            <ul class="footer-nav__list">
              <li><span>Документы</span></li>
              <li><a href="#">Пользовательское соглашение</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Публичная оферта</a></li>
              <li><a href="#">Использование cookie</a></li>
              <li><a href="#">Техническая поддержка</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__box">
          <div class="footer__social-banks">
            <img src="assets/images/footer/modulbank.png" alt="" />
            <img src="assets/images/footer/visa.png" alt="" />
            <img src="assets/images/footer/mastercard.png" alt="" />
            <img src="assets/images/footer/maestro.png" alt="" />
            <img src="assets/images/footer/mir.png" alt="" />
          </div>
          <div class="footer__social-redesign">
            <span>Редизайн сайта</span>
            <a href="#"> Turkuletsdesign</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Request popup -->
<div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="request">
  <div class="mfp__title">Оставьте заявку</div>
  <div class="mfp__desc">менеджер свяжется с Вами в течение 3 часов</div>

  <form class="mfp__form">
    <div class="input-wrap">
      <input type="text" name="name" data-name="Имя" placeholder="Имя" />
    </div>
    <div class="input-wrap">
      <input type="tel" name="phone" data-name="Телефон" placeholder="Телефон" required="required" />
    </div>
    <div class="input-wrap">
      <input type="email" name="email" data-name="Почта" placeholder="Почта" />
    </div>
    <button class="btn">Send</button>

    <div class="form-result">
      <div class="mess">
        <div class="mess__title">Success!</div>
        <div class="mess__desc">We will contact with you soon</div>
      </div>
    </div>
  </form>
</div>

<!-- Success popup-->
<div class="mfp mfp--succes-popup zoom-anim-dialog mfp-hide" id="success">
  <div class="form-result form-result--success">
    <div class="mess">
      <div class="mess__title">Success!</div>
      <div class="mess__desc">We will contact with you soon</div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>
