<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__top-row">
        <div class="footer__col">
          <div class="footer__logo-wrap">
            <a href="/" class="logo">
              <img src="assets/images/logo.svg" alt="" />
            </a>
            <div class="logo__description">
              <span>Аналитика и оцифровка продаж</span>
              <span>Wildberries</span>
              <span>и</span>
              <span>Ozon</span>
            </div>
          </div>
          <div class="footer__social">
            <a href="#">
              <img src="assets/images/footer/vk.svg" alt="" />
            </a>
            <a href="#">
              <img src="assets/images/footer/telegramm.svg" alt="" />
            </a>
            <a href="#">
              <img src="assets/images/footer/youtube.svg" alt="" />
            </a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__nav-wrap">
            <nav class="footer-nav">
              <ul class="footer-nav__list">
                <li><span>Сервис</span></li>
                <li><a href="#">Для кого</a></li>
                <li><a href="#">Возможности</a></li>
                <li><a href="#">Тарифы</a></li>
              </ul>
              <ul class="footer-nav__list">
                <li><span>Клиентам</span></li>
                <li><a href="#">Вход</a></li>
                <li><a href="#">Регистрация</a></li>
                <li><a href="#">Восстановления пароля</a></li>
              </ul>
              <ul class="footer-nav__list">
                <li><span>Документы</span></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Публичная оферта</a></li>
                <li><a href="#">Использование cookie</a></li>
                <li><a href="#">Техническая поддержка</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="footer__bottom-row">
        <div class="footer__decription">
          <span>© 2022–2023 Mpassistant</span>
          <span>Информация, размещённая на сайте, не является публичной офертой</span>
        </div>
        <div class="footer__box">
          <div class="footer__social-banks">
            <img src="assets/images/footer/modulbank.png" alt="" />
            <img src="assets/images/footer/visa.png" alt="" />
            <img src="assets/images/footer/mastercard.png" alt="" />
            <img src="assets/images/footer/maestro.png" alt="" />
            <img src="assets/images/footer/mir.png" alt="" />
          </div>
          <div class="footer__social-redesign">
            <span>Редизайн сайта</span>
            <a href="#"> Turkuletsdesign</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Request popup -->
<div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="registration">
  <div class="mfp__title">Регистрация</div>
  <div class="mfp__desc">У вас нет аккаунта? Создайте свой аккаунт, это займет меньше минуты.</div>

  <form class="mfp__form">
    <div class="mfp__form-col">
      <div class="input-wrap">
        <span>ФИО</span>
        <input class="mfp__form-input" type="text" name="name" data-name="Имя" placeholder="Введите ваши ФИО" />
      </div>
      <div class="input-wrap">
        <span>Номер телефона</span>
        <input
          class="mfp__form-input"
          type="tel"
          name="phone"
          data-name="Телефон"
          placeholder="Введите ваш номер телефона"
          required="required"
        />
      </div>
      <div class="input-wrap">
        <span>Ваш email</span>
        <input type="email" name="email" data-name="Почта" placeholder="Введите ваш email" />
      </div>
      <div class="log d-lg-flex d-none">
        <span class="log-desc">Уже есть аккаунт?</span>
        <a href="#" class="log-link">
          <img src="assets/images/log.svg" alt="" />
          <span>Вход</span>
        </a>
      </div>
    </div>

    <div class="mfp__form-col">
      <div class="input-wrap">
        <span>Пароль</span>
        <div class="password-wrap">
          <input
            class="password-input"
            type="password"
            name="password"
            data-name="Пароль"
            placeholder="Введите пароль"
          />
          <div class="show-btn">
            <img src="assets/images/show.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="input-wrap">
        <span>Промокод</span>
        <div class="promocode-wrap">
          <input
            class="promocode-input"
            type="promocode"
            name="promocode"
            data-name="Промокод"
            placeholder="Введите промокод"
          />
          <button class="promocode-btn d-sm-inline-block d-none btn">Применить</button>
          <button class="promocode-btn d-sm-none d-inline-block btn">
            <img src="assets/images/promocode-check.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="checkbox">
        <label class="checkbox-label">
          <input type="checkbox" name="checkbox" />
          <span class="checkbox-custom"></span>
        </label>
        <div class="checkbox-description">
          <span>Я согласен со всеми условиями </span>
          <a href="#">пользовательского соглашения</a>
          <span>и</span>
          <a href="#">политики конфиденциальности</a>
        </div>
      </div>
      <div class="mfp__form-bottom">
        <button class="mfp__form-submit btn" type="submit">Получить бесплатный доступ</button>
        <div class="log d-lg-none d-flex">
          <span class="log-desc">Уже есть аккаунт?</span>
          <a href="#" class="log-link">
            <img src="assets/images/log.svg" alt="" />
            <span>Вход</span>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Success popup-->
<div class="mfp mfp--succes-popup zoom-anim-dialog mfp-hide" id="success">
  <div class="form-result form-result--success">
    <div class="mess">
      <div class="mess__title">Success!</div>
      <div class="mess__desc">We will contact with you soon</div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>
