<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__box">
        <div class="header__logo-wrap">
          <a href="/" class="logo">
            <img src="assets/images/logo.svg" alt="" />
          </a>
          <div class="logo__description">
            <span>Аналитика и оцифровка продаж</span>
            <span>Wildberries</span>
            <span>и</span>
            <span>Ozon</span>
          </div>
        </div>
        <nav class="nav-menu">
          <ul class="nav-menu__list">
            <li><a href="#reports">О нас</a></li>
            <li><a href="#services">Возможности</a></li>
            <li><a href="#tariff">Тарифы</a></li>
          </ul>
        </nav>
        <div class="hamburger hamburger--slider js-menu">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>
      <div class="header__box">
        <a href="#" class="log-link">
          <img src="assets/images/log.svg" alt="" />
          <span>Вход</span>
        </a>
        <a href="#registration" class="header__btn btn js-popup">Зарегистрироваться</a>
      </div>
    </div>
  </div>
</header>

<div class="menu">
  <div class="menu__header">
    <a href="/" class="logo">
      <img src="assets/images/logo.svg" alt="" />
    </a>
    <div class="menu-close">
      <img src="assets/images/close-x.svg" alt="" />
    </div>
  </div>
  <nav class="nav-menu">
    <ul class="nav-menu__list">
      <li><a href="#reports">О нас</a></li>
      <li><a href="#services">Возможности</a></li>
      <li><a href="#tariff">Тарифы</a></li>
    </ul>
  </nav>
  <div class="menu__footer">
    <a href="#registration" class="btn js-popup">Зарегистрироваться</a>
    <div class="menu__footer-box">
      <div class="menu__footer-desc">
        <span>Уже есть аккаунт?</span>
      </div>
      <a href="#" class="log-link">
        <img src="assets/images/log.svg" alt="" />
        <span>Войти</span>
      </a>
    </div>
  </div>
</div>
