<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__box">
        <div class="header__logo-wrap">
          <a href="/" class="logo">
            <img src="assets/images/logo.svg" alt="" />
          </a>
          <div class="logo__description">
            <span>Аналитика и оцифровка продаж</span>
            <span>Wildberries</span>
            <span>и</span>
            <span>Ozon</span>
          </div>
        </div>
        <nav class="nav-menu">
          <ul class="nav-menu__list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Возможности</a></li>
            <li><a href="#">Тарифы</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__box">
        <a href="#" class="log-link">
          <img src="assets/images/log.svg" alt="" />
          <span>Вход</span>
        </a>
        <a href="#" class="header__btn btn">Зарегистрироваться</a>
      </div>
    </div>
  </div>
</header>

<!-- <div class="hamburger hamburger--slider js-menu">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</div> -->
