.choose
  padding-top: 23px
  padding-bottom: 140px

  &__title
    margin-bottom: 41px

  &__content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    +xxxl
      grid-template-columns: repeat(2, 1fr)
    +lg
      grid-template-columns: 1fr

  &__item
    border-radius: 10px
    background: $bg
    padding: 38px 30px 38px 40px
    +sm
      padding: 27px 20px 38px 20px

  &__item-header
    display: flex
    align-items: center
    column-gap: 18px
    margin-bottom: 9px
    +sm
      margin-bottom: 14px

  &__item-icon
    flex-shrink: 0

  &__item-title
    font-size: 30px
    font-weight: 700
    line-height: 125%
    letter-spacing: 0.6px
    color: $black
    +xxxl
      font-size: 24px
    +sm
      font-size: 18px
      letter-spacing: 0.36px

  &__item-text
    font-size: 22px
    font-weight: 400
    line-height: 125%
    letter-spacing: 0.44px
    color: #707070
    +xxxl
      font-size: 20px
    +sm
      font-size: 15px
      letter-spacing: 0.3px
