.reports
  padding-top: 72px
  padding-bottom: 50px

  &__title
    margin-bottom: 27px
    max-width: 825px

  &__content
    display: flex
    justify-content: space-between

  &__col

  &__description
    font-size: 26px
    font-weight: 400
    line-height: 125%
    letter-spacing: 0.52px
    color: #707070
    margin-bottom: 33px

  &__box
    display: flex
    flex-direction: column
    row-gap: 20px

  &__item
    display: flex
    align-items: flex-start
    max-width: 782px
    background: #EAF3FD
    border-radius: 10px
    padding: 32px 41px 32px 41px

  &__item .icon
    width: 26px
    height: 26px
    fill: $blue
    flex-shrink: 0
    margin-right: 17px

  &__text
    color: #212121
    font-size: 26px
    font-weight: 400
    line-height: 125%
    letter-spacing: 0.52px

  &__img
    max-width: 690px
