.tariff
  padding-top: 71px
  padding-bottom: 70px

  &__title
    margin-bottom: 40px

  &__content

  &__filters
    display: flex
    margin-bottom: 40px
    column-gap: 40px
    overflow: auto

  &__btn

  &__body
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px

  &__item
    border-radius: 10px
    background: rgba(42, 132, 238, 0.1)
    position: relative
    padding: 46px 40px 50px 40px
    display: flex
    flex-direction: column
    justify-content: space-between

  &__item-header

  &__item-title
    font-size: 26px
    font-weight: 700
    line-height: 125%
    letter-spacing: 0.52px
    color: $black
    margin-bottom: 18px

  &__item-prices
    display: flex
    flex-direction: column
    margin-bottom: 21px

  &__item-prices span:nth-child(1)
    color: #6C778E
    font-size: 22px
    font-weight: 400
    line-height: 125%
    letter-spacing: 0.44px

  &__item-prices span:nth-child(2)
    font-size: 30px
    font-weight: 700
    line-height: 125%
    letter-spacing: 0.6px
    color: $blue

  &__item-btns
    display: flex
    flex-direction: column
    row-gap: 21px

  &__item-btns a
    padding: 13px 5px
