.tariff
  padding-top: 71px
  padding-bottom: 70px

  &__title
    margin-bottom: 40px
    +sm
      margin-bottom: 28px

  &__content

  &__filters
    display: flex
    margin-bottom: 40px
    column-gap: 40px
    overflow: auto
    &::-webkit-scrollbar
      width: 0
    +lg
      column-gap: 20px
    +sm
      column-gap: 8px
      margin-bottom: 30px

  &__btn

  &__body
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px
    +lg
      grid-template-columns: repeat(2, 1fr)
    +md
      grid-template-columns: 1fr
    +sm
      gap: 10px

  &__item
    border-radius: 10px
    background: rgba(42, 132, 238, 0.1)
    position: relative
    padding: 46px 40px 46px 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: all 0.3s ease
    &:hover
      +min_md
        background: $white
        box-shadow: 0px 0px 30px 0px rgba(46, 184, 151, 0.15)
    +xl
      padding: 46px 25px
    +sm
      padding: 31px 20px 30px

  &__item:last-child
    background: #E7F7F3
    &:hover
      +min_md
        background: $white

  &__item-header

  &__item-title
    font-size: 26px
    font-weight: 700
    line-height: 125%
    letter-spacing: 0.52px
    color: $black
    margin-bottom: 18px
    +sm
      font-size: 20px
      letter-spacing: 0.4px

  &__item-prices
    display: flex
    flex-direction: column
    margin-bottom: 21px

  &__item-prices span:nth-child(1)
    color: #6C778E
    font-size: 22px
    font-weight: 400
    line-height: 125%
    letter-spacing: 0.44px
    +sm
      font-size: 18px
      letter-spacing: 0.36px

  &__item-prices span:nth-child(2)
    font-size: 30px
    font-weight: 700
    line-height: 125%
    letter-spacing: 0.6px
    color: $blue
    +sm
      font-size: 26px
      letter-spacing: 0.52px

  &__item-btns
    display: flex
    flex-direction: column
    row-gap: 21px

  &__item-btns a
    padding: 13px 5px
    +xl
      padding: 12px 5px
    +sm
      padding: 11px 5px
