.header
  padding: 24px 0

  &__content
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 1px

  &__box
    display: flex
    align-items: center

  &__box:nth-child(1)
    column-gap: 110px

  &__box:nth-child(2)
    column-gap: 30px

  &__logo-wrap
    display: flex
    align-items: center
    column-gap: 30px

  &__description
    max-width: 250px
    font-size: 14px
    font-weight: 400
    line-height: 125%
    color: #969EB1

  &__description span:nth-child(2)
    color: $purple

  &__description span:nth-child(4)
    color: #1065FF

  &__btn
    padding: 9.8px 36.1px
